<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/index.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <img src="../img/gov.png">
            </div><!--logo-->
            <div class="text">
            <h1 class="text-2">
                Biblioteca <span>Virtual</span>
            </h1>
            </div><!--TEXT-->
        </div><!--center-->
        <hr><!--LAT-LINE-->

        <section class="cont">
            <div class="generos">
                <a href="#">LITERATURA</a>
                <a href="#">AVENTURA</a>
                <a href="#">ROMANCE</a>
                <a href="#">DRAMA</a>
                <a href="#">FICÇÃO CIENTÍFICA</a>
                <a href="#">INFORMÁTICA</a>
                <a href="#">EDIFICAÇÕES</a>
            </div><!--gener-book-->

            <section class="books-align"><!--ALINHAMENTO-->

            <div class="img-books"><!--PRINCIPAL-->
            <div class="book-1">
                
                <h1 class="text-book">HARRY POTTER</h1>
                <h1 class="text-book">O PRISIONEIRO DE AZKABAN</h1>
                <img class="harry-4" src="../img/harry-4.jpg">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>

            <div class="book-1">
                <h1 class="text-book">HOBBIT</h1>
                <h1 class="text-book">O SENHOR DOS ANÉIS</h1>
                <img class="harry-4" src="../img/lord.png">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>

            <div class="book-1">
                <h1 class="text-book">VIDAS SECAS</h1><br>
                <img class="harry-4" src="../img/lifes.jpg">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>  
            </div><!--Imagens-livros-->

            <div class="img-books_2"><!--PRINCIPAL_2-->
            <div class="book-2">
                <h1 class="text-book">IRACEMA</h1><br>
                <img class="harry-4" src="../img/iracema.png">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>

            <div class="book-2">
                <h1 class="text-book">O QUINZE</h1><br>
                <img class="harry-4" src="../img/fifeteen.jpg">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>

            <div class="book-2">
                <h1 class="text-book">VIAGEM AO CENTRO DA TERRA</h1><br>
                <img class="harry-4" src="../img/center-earth.jpg">
                <button class="harry-btn">SAIBA MAIS</button>
            </div>
            </div>
        </div><!--Imagens-livros-->
            </section>
        </section><!--Generos-->

        <footer class="text-final"><!--INICIO-->
            <img class="logo-2" src="../img/gov.png">
            <h1 class="text-one">Este WebSite foi desenvolvido por alunos da escola Salaberga afins<br> de facilitar o acesso à livros da biblioteca da escola.</h1><br>
            <h1 class="text-one">TODOS OS DIREITOS RESERVADOS.</h1><br>
            <h1 class="text-one">&copy; Ricardo Pinheiro</h1><br>
        </footer>
    </header>
    
</body>
</html>